@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,400;0,600;1,600&display=swap');

@font-face {
  font-family: 'scumm-font';
  src: url(../fonts/scumm-font.eot);
  src: url(../fonts/scumm-font.eot?#iefix) format('embedded-opentype'),
       url(../fonts/scumm-font.svg#scumm-font) format('svg'),
       url(../fonts/scumm-font.ttf) format('truetype'),
       url(../fonts/scumm-font.woff) format('woff'),
       url(../fonts/scumm-font.woff2) format('woff2');
}

:root {
  --color-primary: #04e434;
  --color-secondary: #02881f;
  --color-tertiary: #015b14 ; 
  --color-quaternary:#002d0a;
  --color-quinary: #000000;
}
html {
  color: #1f1d1c;
  font-size: 1em;
  line-height: 1.25;
  scroll-behavior: smooth;
} 

::-moz-selection {
  background: #001705;
  color:#FFF;
  text-shadow: none;
}

::selection {
  background: #001705;
  color:#FFF;
  text-shadow: none;
}

textarea {
  resize: vertical;
}

a {color: unset;}
h1,
h2,
h3,
h4,
h5 {
  margin: 0 0 20px 0;
  padding: 0;
  line-height: 2;
  font-family: 'scumm-font';
  text-transform: uppercase;
  letter-spacing: 2px;
}

h1 {font-size: 5rem;}
h3 {font-size: 3rem;}
h4 {font-size: 2rem;}
h5 {font-size: 1rem;  line-height: 2.4;}

p {margin-top:0}

.is-blanco {color: #FFF}
.separador {
  width: 100%;
  position: absolute;
  z-index: -1;
  left: 0;
  overflow: hidden;
  word-break: break-all;
  margin-top: -80px;
  animation: 4s titila cubic-bezier(0.45, 0, 0.55, 1) infinite;
}

.auto {margin: 0 auto;} 


/* ============ */
html {
  width: 100%;
  height: 100vh;
}

body {
  font-size: 16px;
  line-height: 1.5;
  font-family: 'IBM Plex Mono', monospace;
  /* font-family: 'Montserrat', sans-serif; */
  background: #8C328A;
  color: #04e434;
  padding: 0;
  margin: 0;
  border-right: 40px solid #000;
  border-left: 40px solid #000;
}

img { max-width: 100%;}

.has-text-centered {text-align: center;}

.container {
  max-width:1080px;
  margin:0 auto
}

header {
  position: sticky;
  top: 0;
  z-index: 2;
  padding: 10px 0;
  background:  #000;
}

/*NAVEGACION*/
nav {
  display: flex;
  justify-content: space-between;
  margin-top:10px;
  font-family: 'scumm-font';
  font-size:9px;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-content: center;
  width: 100%;
}

nav a {
  text-decoration: none;
  display: block;
  color: unset;
}

nav a:hover,
nav a:visited {
  color: #04e434;
}

nav a:hover {
  opacity: 0.6;
  transition: all 0.5s;
}

nav .menu {
  clear: none;
  float: right;
  max-height: none;
}

nav .menu-btn {
  display: none;
}



/* SECTIONS*/
body section:nth-child(2n) h3 {
  text-align: right;
}

section {
  min-height: 100vh;
  position: relative;
  margin-bottom: 60px;
  scroll-snap-align: start;
  scroll-margin-top: 100px;
}

section .oscura {
  background-color: #1f1d1c;
}

#lucas-arts, #links {background: #000; padding:5% 0}
.random #lucas-arts, .random #links {background: #04e434; color:#000}

.contenido {display: flex;}
.contenido div {flex: 1; margin-right: 2%;}
.contenido div img{width: 100%;}


.columns {
  display: flex;
  margin-left: -.75rem;
  margin-right: -.75rem;
  margin-top: -.75rem;
}
.columns:not(:last-child) {
  margin-bottom: calc(1.5rem - .75rem);
}
.column {
  display: block;

  padding: .75rem;
}
.column.is-3 {
  width: 25%;
}
.column.is-4 {
  width: 33.333%;
}
.column.is-6 {
  width: 50%;
}

.column.is-7 {
  width: 58.333%;
}

.column.is-8 {
  width: 66.666%;
}

.column.is-9 {
  width: 75%;
}


.is-hidden { display : none; }

.mb-50 {margin-bottom: 50px;}
.mb-100 {margin-bottom: 100px;}
.mt-50 {margin-top: 50px;}
.mt-100 {margin-top: 100px;}
/**/


#hola {  
  display: flex;
  margin-top: 10vh;
  flex-direction: column;
  align-items: center;
  min-height: 50vh;
}

#hola h2 {
  font-size:2rem;
  margin-bottom: 30px;
}

#hola p {
  font-size: 1.4rem;
  text-align: center;
  margin-top: 70px;
}


/*SCUMM ANIMTAION*/
.scumm {
  display: flex;
  align-items: flex-start;
}

.text_shadows {
  text-shadow: 3px 3px 0 var(--color-secondary), 6px 6px 0 var(--color-tertiary),
    9px 9px var(--color-quaternary), 12px 12px 0 var(--color-quinary);
  text-transform: uppercase;
  text-align: center;
  margin: 0;
  color: var(--color-primary);
  animation: shadows 1.2s ease-in infinite, move 1.2s ease-in infinite;
  letter-spacing: 0.4rem;
}

@keyframes shadows {
  0% {
    text-shadow: none;
  }
  10% {
    text-shadow: 3px 3px 0 var(--color-secondary);
  }
  20% {
    text-shadow: 3px 3px 0 var(--color-secondary),
      6px 6px 0 var(--color-tertiary);
  }
  30% {
    text-shadow: 3px 3px 0 var(--color-secondary),
      6px 6px 0 var(--color-tertiary), 9px 9px var(--color-quaternary);
  }
  40% {
    text-shadow: 3px 3px 0 var(--color-secondary),
      6px 6px 0 var(--color-tertiary), 9px 9px var(--color-quaternary),
      12px 12px 0 var(--color-quinary);
  }
  50% {
    text-shadow: 3px 3px 0 var(--color-secondary),
      6px 6px 0 var(--color-tertiary), 9px 9px var(--color-quaternary),
      12px 12px 0 var(--color-quinary);
  }
  60% {
    text-shadow: 3px 3px 0 var(--color-secondary),
      6px 6px 0 var(--color-tertiary), 9px 9px var(--color-quaternary),
      12px 12px 0 var(--color-quinary);
  }
  70% {
    text-shadow: 3px 3px 0 var(--color-secondary),
      6px 6px 0 var(--color-tertiary), 9px 9px var(--color-quaternary);
  }
  80% {
    text-shadow: 3px 3px 0 var(--color-secondary),
      6px 6px 0 var(--color-tertiary);
  }
  90% {
    text-shadow: 3px 3px 0 var(--color-secondary);
  }
  100% {
    text-shadow: none;
  }
}

@keyframes move {
  0% {
    transform: translate(0px, 0px);
  }
  40% {
    transform: translate(-12px, -12px);
  }
  50% {
    transform: translate(-12px, -12px);
  }
  60% {
    transform: translate(-12px, -12px);
  }
  100% {
    transform: translate(0px, 0px);
  }
}

/*ASK ME*/
#ask-me {
  margin:  40px auto 60px;
  justify-content: center;
}
#cabeza, #cabezarandom{
  height: 240px;
  margin:  0 auto;
}



/*LUCAS ARTS*/
.video-container {
  position: relative;
  width: 100%;
  padding-bottom: 56.25%;
}

.video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}


/*JUEGOS*/
.juegos-container {
  display: grid;
  grid-template-columns: auto auto auto;
  border:2px solid #000
}

.juegos-item {
  border: 2px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  font-size: 0.9rem;
  line-height: 1.4;
}

.juegos-item h5 {
  font-size: 0.6rem;
  margin-bottom: 30px;
  line-height: 2.5;
}

.juegos-item img {
  height: 170px;
}

/* EMOTICONS */
#api {
  text-align: center;
  width: 100%;
  float: left;
  margin-top: 20%;
}
#emoticons {
  text-align: center;
  padding: 0;
}
#emoticons li {
  display: inline;
  list-style: none;
}

/*LINKS*/
#links img {
  display: block;
  height: 80px;
  margin: 0 auto;
}
#links a {
  font-size: 17px;
  font-weight: 700;
  text-decoration: none;
  display: block;
  border: 1px solid;
  text-align: center;
  margin: 30px 40px;
}

#links a:hover {
  background:#04e434;
  color: #000;
}
/* FORMULARIO */
button {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, input, select, textarea {
  margin: 0;
}

input {
  line-height: normal;
}

textarea {
  overflow: auto;
}

#formulario {
  border: solid 3px #04e434;
  max-width: 768px;
  margin: 60px auto;
  position: relative;
}

form {
  padding: 37.5px;
  margin: 50px 0;
}

#formulario h1 {
  font-size: 22px;
  margin-top: 20px;
  letter-spacing: 7px;
  text-align: center;
  text-transform: uppercase;
}

#formulario option {
  background: #8C328A;
}

.underline {
  border-bottom: solid 2px #04e434;
  width: 100%;
}

.email {
	float: right;
	width: 45%;
}

input[type='text'], [type='email'], select, textarea {
	background: none;
  border: none;
	border-bottom: solid 2px #04e434;
	color: #04e434;
	font-size: 1.000em;
  font-weight: 400;
  letter-spacing: 1px;
	margin: 0em 0 1.875em 0;
	padding: 0 0 0.875em 0;
  text-transform: uppercase;
	width: 100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}

input[type='text']:focus, [type='email']:focus, textarea:focus {
	outline: none;
	padding: 0 0 0.875em 0;
}

.mensaje {
	float: none;
}

.name {
	float: left;
	width: 45%;
}

select {
  outline: none;
  -moz-appearance: none;
  -webkit-appearance: none;
}

select::-ms-expand {
  display: none;
}

.subject {
  width: 100%;
}

textarea {
	line-height: 150%;
	height: 150px;
	resize: none;
  width: 100%;
}

::-webkit-input-placeholder {
	color: #04e434;
}

:-moz-placeholder { 
	color: #04e434;
	opacity: 1;
}

::-moz-placeholder {
	color: #04e434;
	opacity: 1;
}

:-ms-input-placeholder {
	color: #474544;
}

#form_button {
  background: none;
  border: solid 2px #04e434;
  color: #04e434;
  cursor: pointer;
  display: inline-block;
  font-size: 0.875em;
  font-weight: bold;
  outline: none;
  padding: 20px 35px;
  text-transform: uppercase;
  -webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}

#form_button:hover {
  background: #04e434;
  color: #000;
}

#errorformulario {
  text-align: center;
  background: #000;
  padding: 10px;
}

/*ARRIBA*/
.back_to_top {
  position: fixed;
  bottom: 30px;
  right: 70px;
  z-index: 9999;
  width: 30px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  background: #f5f5f5;
  color: #444;
  cursor: pointer;
  border-radius: 2px;
  display: none;
}

.back_to_top:hover {
  background: #e9ebec;
}

.back_to_top-show {
  display: block;
}

/*FOOTER*/
footer {
  text-align: center;
  border-bottom: 40px solid #000;
  word-wrap: break-word;
}


@media screen and (max-width: 768px) {
  nav .menu {
    clear: none;
    float: right;
    max-height: none;
  }
  nav .menu-icon {
    display: none;
  }
}

@media screen and (max-width: 480px) {
  #formulario h1 {
    font-size: 26px;
  }
  
  #form_button {
    padding: 15px 25px;
  }
}

@media screen and (max-width: 420px) {
  #formulario h1 {
    font-size: 18px;
  }
  
  input[type='text'], [type='email'], select, textarea {
    font-size: 0.875em;
  }
}




/*TABLET*/
@media all and (min-width: 801px) {
  nav ul li {
    margin-right: 30px;
  }
}
@media all and (max-width: 800px) {
  nav ul {
    justify-content: space-around;
  }
  nav ul a:hover {
    background-color: lighten(goldenrod, 10%);
  }
}

/*MOBILE*/
@media(max-width: 780px) {
  header {
    padding: 20px 0;
  }

  /*NAV*/
  nav .menu {
    width: 100%;
    position: fixed;
    top: 10px;
    background: #000;
    text-align: center;
    left: 0;
    top: 30px;
  }

  nav .menu li {
    margin-bottom: 20px;
  }

  nav .menu-icon {
    position: fixed !important;
    cursor: pointer;
    display: inline-block;
    position: relative;
    user-select: none;
    right: 44px;
    top: 18px;
    z-index: 99;
  }
  
  nav .menu-icon .navicon {
    background: #FFF;
    display: block;
    height: 2px;
    position: relative;
    transition: background .2s ease-out;
    width: 18px;
  }
  
  nav .menu-icon .navicon:before,
  nav .menu-icon .navicon:after {
    background: #FFF;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
  }
  
  nav .menu-icon .navicon:before {
    top: 5px;
  }
  
  nav .menu-icon .navicon:after {
    top: -5px;
  }

  nav .menu-btn {
    display: none;
  }
  
  nav .menu {
    display: none;
    opacity:0
  }

  nav .menu-btn:checked ~ .menu {
    display:block;
    transition: all 2s;
    opacity: 1;
  }
  
  nav .menu-btn:checked ~ .menu-icon .navicon {
    background: transparent;
  }
  
  nav .menu-btn:checked ~ .menu-icon .navicon:before {
    transform: rotate(-45deg);
  }
  
  nav .menu-btn:checked ~ .menu-icon .navicon:after {
    transform: rotate(45deg);
  }
  
  nav .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
  nav .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
    top: 0;
  }

.main {
  padding: 30px 0;
}

.main article h1 {
  font-size: 2em;
}

.columns {
  display: unset;
}

.column.is-4, .column.is-6, .column.is-8 {
  width: 90%;
  margin: 0 auto;
}

h2 {
  text-align: center;
}
/*HOLA*/
#hola h1 {
  font-size: 1.6rem;
}

#ask-me #cabeza,
#ask-me #cabezarandom {
  margin: -240px auto 80px;
}

.juegos-container {
  display: block;
  width: 90%;
  margin: 0 auto;
}

.juegos-item {
  text-align: center;
}

#formulario{
  width: 90%;
}
#formulario h1 {
  font-size: 14px;
  letter-spacing: 0px;
}
footer {
  padding: 20px 0;
  text-align: center;
  overflow: hidden;
}

footer h3 {
  font-size:1rem
}

}



/*ANIMACIONES*/

@keyframes titila {
  25% { opacity: 0.5;  }
  50% { opacity: 0.25; margin-top:-180px }
  75% { opacity: 0.15; text-align: right;}
  100% { opacity: 0.5;  }
}

@keyframes color {
  0%   { background: #a90cbd; }
  20%  { background: #f104f2; }
  40%  { background: #7c76f0; }
  60%  { background: #fff91b; }
  80%  { background: #00fcf9; }
  100% { background: #000000; }
}

.animationcolor {animation: color 4s infinite linear;}