@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,600;1,600&display=swap');

@font-face {
  font-family: 'scumm-font';
  src: url(../fonts/scumm-font.eot);
  src: url(../fonts/scumm-font.eot?#iefix) format('embedded-opentype'),
       url(../fonts/scumm-font.svg#scumm-font) format('svg'),
       url(../fonts/scumm-font.ttf) format('truetype'),
       url(../fonts/scumm-font.woff) format('woff'),
       url(../fonts/scumm-font.woff2) format('woff2');
}


html {
  color: #1f1d1c;
  font-size: 1em;
  line-height: 1.25;
  scroll-behavior: smooth;
} 

::-moz-selection {
  background: red;
  text-shadow: none;
}

::selection {
  background: red;
  text-shadow: none;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

textarea {
  resize: vertical;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  padding: 0;
  line-height: 2;
  font-family: 'scumm-font';
  text-transform: uppercase;
}

h1 {font-size: 8rem;}
h3 {font-size: 3rem; margin-bottom:20px;}
h4 {font-size: 2rem; margin-bottom:20px; text-transform: none}

p {margin-top:0}

.is-blanco {color: #FFF}
.separador {
  width: 100%;
  position: absolute;
  z-index: -1;
  left: 0;
  overflow: hidden;
  word-break: break-all;
  margin-top: -80px;
  animation: 4s titila cubic-bezier(0.45, 0, 0.55, 1) infinite;
}


/* ===== Initializr Styles ======= */


html {
  width: 100%;
  height: 100vh;
}


body {
  font-size: 16px;
  line-height: 1.5;
  font-family: 'Montserrat', sans-serif;
  background: #8C328A;
  color: #04e434;
  padding: 0;
  margin: 0;
  border-right: 40px solid #000;
  border-left: 40px solid #000;
}

img { max-width: 100%;}


.container {
  max-width:1080px;
  margin:0 auto
}

header {
  position: sticky;
  top: 0;
  z-index: 2;
  padding: 10px 0;
  background:  #000;
}
nav {
  display: flex;
  justify-content: space-between;
  margin-top:10px;
  font-family: 'scumm-font';
  font-size: 10px;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-content: center;
  width: 100%;
}

nav a {
  text-decoration: none;
  display: block;
  color: unset;
}

nav a:hover,
nav a:visited {
  color: #04e434;
}

nav a:hover {
  opacity: 0.8;
}

/* SECTIONS*/
body section:nth-child(2n) h3 {
  text-align: right;
}

section {
  min-height: 100vh;
  position: relative;
  margin-bottom: 60px;
}

section .oscura {
  background-color: #1f1d1c;
}

.contenido {display: flex;}
.contenido div {flex: 1; margin-right: 2%;}
.contenido div img{width: 100%;}


.columns {
  display: flex;
  margin-left: -.75rem;
  margin-right: -.75rem;
  margin-top: -.75rem;
}
.columns:not(:last-child) {
  margin-bottom: calc(1.5rem - .75rem);
}
.column {
  display: block;

  padding: .75rem;
}
.column.is-3 {
  width: 25%;
}
.column.is-4 {
  width: 33.333%;
}
.column.is-6 {
  width: 50%;
}

.column.is-7 {
  width: 58.333%;
}

.column.is-8 {
  width: 66.666%;
}

.column.is-9 {
  width: 75%;
}

.centered {
  display: flex;
  justify-content: center;
  align-items: center;
}

.is-hidden { display : none; }

.mt-50 {margin-top: 50px;}
.mt-100 {margin-top: 100px;}
/**/


#hola {  
  display: flex;
  margin-top: 10vh;
  flex-direction: column;
  align-items: center;
  min-height: 50vh;
}

#hola h2 {
  font-size:2rem;
  margin-bottom: 30px;
}

#hola p {
  font-size: 1.4rem;
  max-width: 70%;
  margin-top: 40px;
}


/*SCUMM ANIMTAION*/
.scumm {
  display: flex;
  align-items: flex-start;
}
.scumm span {
  transform: scale(0.2, 1) rotatey(-10deg) translatey(0px);
  animation: 2.2s taram cubic-bezier(0.45, 0, 0.55, 1) forwards;
  transform-origin: 50% 100%;
  position: relative;
  transform-style: preserve-3d;
  opacity: 0;
}
.scumm span:nth-child(1) {
  animation-delay: 140ms;
}
.scumm span:nth-child(2) {
  animation-delay: 280ms;
}
.scumm span:nth-child(3) {
  animation-delay: 420ms;
}
.scumm span:nth-child(4) {
  animation-delay: 560ms;
}
.scumm span:nth-child(5) {
  animation-delay: 700ms;
}

@keyframes taram {
  25% { transform: scale(0.4) rotatey(-10deg); opacity: 0.25;  }
  50% { opacity: 0.5; transform: scale(1) rotatey(0)  }
  75% { opacity: 0.75; transform: scale(1) rotatey(0)}
  100% { opacity: 1;  transform: scale(1) rotatey(0)}
}

/*ASK ME*/
#ask-me {
  max-width: 70%;
  margin:  40px auto 60px;
  justify-content: center;
}
#cabeza, #cabezarandom{
  height: 240px;
}



/*LUCAS ARTS*/
.video-container {
  position: relative;
  width: 100%;
  padding-bottom: 56.25%;
}

.video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}


/*JUEGOS*/
.juegos-container {
  display: grid;
  grid-template-columns: auto auto auto;
  border:2px solid #000
}

.juegos-item {
  border: 2px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  font-size: 0.9rem;
  line-height: 1.4;
}

.juegos-item h5 {
  font-size: 0.8rem;
  margin-bottom: 30px;
}

.juegos-item img {
  width: 30%;
}



@media all and (min-width: 801px) {
  nav ul li {
    margin-right: 30px;
  }
}
@media all and (max-width: 800px) {
  nav ul {
    justify-content: space-around;
  }
  nav ul a:hover {
    background-color: lighten(goldenrod, 10%);
  }
}
@media all and (max-width: 500px) {
  nav {
    display: block;
    text-align: center;
  }
  nav ul {
    flex-flow: column wrap;
    padding: 0;
    border-radius: 3px;
  }
  nav ul a {
    text-align: center;
    border-top: 2px solid rgba(255, 255, 255, 0.2);
    border-bottom: 2px solid rgba(0, 0, 0, 0.1);
  }
}

.main {
  padding: 30px 0;
}

.main article h1 {
  font-size: 2em;
}

footer {
  padding: 20px 0;
}


/*ANIMACIONES*/

@keyframes titila {
  25% { opacity: 0.5;  }
  50% { opacity: 0.25; margin-top:-180px }
  75% { opacity: 0.15; text-align: right;}
  100% { opacity: 0.5;  }
}

@keyframes color {
  0%   { background: #a90cbd; }
  20%  { background: #f104f2; }
  40%  { background: #7c76f0; }
  60%  { background: #fff91b; }
  80%  { background: #00fcf9; }
  100% { background: #000000; }
}

.animationcolor {animation: color 4s infinite linear;}